<nz-table #basicTable [nzData]="listOfData" [nzShowPagination]="false" nzTitle="基础表格">
  <thead>
    <tr>
      <th>姓名</th>
      <th>年龄</th>
      <th>地址</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.name}}</td>
      <td>{{data.age}}</td>
      <td>{{data.address}}</td>
    </tr>
  </tbody>
</nz-table>

<nz-table [nzData]="listOfData" [nzShowPagination]="false" nzTitle="拖拽表格">
  <thead>
  <tr>
    <th>姓名</th>
    <th>年龄</th>
    <th>地址</th>
  </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
  <tr *ngFor="let data of listOfData" cdkDrag>
    <td>{{data.name}}</td>
    <td>{{data.age}}</td>
    <td>{{data.address}}</td>
  </tr>
  </tbody>
</nz-table>
